html,
body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #D62AEF;
  font-family: helvetica, sans-serif;
  font-size: 16pt;
  overflow-x: hidden;
  overflow-y: scroll;
}

@font-face {
  font-family: Grotesque_medium;
  src: url(fonts/DarkerGrotesque-Medium.ttf);
}

@font-face {
  font-family: Picnic;
  src: url(fonts/PicNic-Regular.otf);
}


a{
  color: #000000;
}

p{
font-family: Grotesque_medium;
font-size: 48px;
text-align: left;
}

h1{
  font-family: Picnic;
  font-size: 72px;
  text-align: center;
}
.description--text{
 padding-top: 10%;
 padding-left: 10%;
 padding-right: 10%;
}

section {
  width: 100vw;
}



section.section--top {
 height:100vh;
}



.header--logo{
  padding-left: 35%;
}

.img--logo{
  padding-top: 5%;
  width: 50vh;
  position: fixed;
  height: auto;
  align-items: center;
  z-index: 3;
  pointer-events: none;
}

.img--question{
  padding-left: 470px;
  padding-top: 75px;
  height: 70px;
  position: relative;
  z-index: 4;
}


#drawingCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.menu--section{
 left: 90%;
 position: fixed;
 bottom: 30px;
 height: auto;
 z-index: 2;
}

.rounded--switch{
}


p.switch--label {
  font-size:30px;
  line-height: normal;
  font-family: Grotesque_medium;

}

.switch--label{
position: relative;
top:10px;
display: inline;
}

/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: 65px;
 height: 38px;
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: transparent;
 border: 2.3px solid black;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 34px;
 width: 34px;
 background-color: black;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: hotpink;
 border: 2.3px solid black;
}



input:checked + .slider:before {
 -webkit-transform: translateX(27px);
 -ms-transform: translateX(27px);
 transform: translateX(27px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 40px;
}

.slider.round:before {
 border-radius: 89%;
}

<<<<<<< HEAD
=======


.section--list{
  height: 100vh;
  width: 100vw;
}

.portfolio--section{
>>>>>>> edb0ec783934fb004b444268ae3a6d85292c5b11


section.section--list{
  height: 80%;
  position: sticky;
  position: -webkit- sticky;
  top: 0px;
}

<<<<<<< HEAD
.portfolio--section{


}

=======
>>>>>>> edb0ec783934fb004b444268ae3a6d85292c5b11
.border{
  border: 1px solid #000000;
  width: 100vw;
}

.text--moving {
  overflow: hidden;
<<<<<<< HEAD
  display: block;
=======
>>>>>>> edb0ec783934fb004b444268ae3a6d85292c5b11
}

.text--line a:link  {
  font-size: 60px;
  font-family: Grotesque_medium;
  text-decoration: none !important;
}

.text--line a:hover  {
<<<<<<< HEAD
  color: white;
=======
  color: ;
>>>>>>> edb0ec783934fb004b444268ae3a6d85292c5b11
}

.text--line {
  flex-shrink: 0;
  white-space: nowrap;
}

.text--line:hover {
  animation: marqueeLine 10s infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.text--line:not(:hover){
    animation: stopMarqueeLine 10s;
    animation-timing-function: ease-in-out;
    animation-delay: 10ms;
    animation-fill-mode: both;
}


@keyframes marqueeLine {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes stopMarqueeLine {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

<<<<<<< HEAD


section.section--navigation {
  padding: 40px;

}

.main__navigation {
  font-family: Picnic;

}

.navigation__inner {
  width: 100%;
  display: flex;
  padding-top: 20px;

}

.main__navigation{
  font-family: Picnic;
   color: pink;
}


.main__navigation a:link  {
  font-size: 70px;
  text-decoration: none;
  color: #000000;
  padding-left: 20px;
}

.main__navigation a:hover  {
  text-decoration: none;
  color: ;
}

.navigation__column {
  width: 90%;
  display: inline;
}

.external__links {
  font-family: Grotesque_medium;
  font-size: 40px;
  margin-top:20px;
  margin-left: 450px;
}

.external__links a:link{
  padding-left: 20px;
  text-decoration: line-through;
}

.external__links a:hover{
  text-decoration: none;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}


#imageCarousel{
    width:100vw;
    height:100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
#imageCarousel a {
    display: inline-block;
    vertical-align: middle;
}

#imageCarousel img {
  border: none;
}


/* width */
::-webkit-scrollbar {
 width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
 background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #114CF5;
=======
.main__navigation{
  font-family: Picnic;

>>>>>>> edb0ec783934fb004b444268ae3a6d85292c5b11
}
